body {
    margin: 0px;
    // font-family: HuaWenLiShu;
    font-family: LiShuFanTi;
    // font-family: WeiRuanLiShu;
    overflow-y: hidden;
}

.occupy {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    z-index: -1;
}

.overflow-hidden {
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.mask {
    background-color: rgba(0, 0, 0, 0.548);
}

img {
    // image-rendering: -webkit-optimize-contrast;s
}