.board::before {
    background-image: url('ui/bg.jpg');
    background-size: contain;
    filter: grayscale(80%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    min-width: 1500px;
    min-height: 800px;

    .top {
        position: relative;
        flex-grow: 1;
        display: flex;

        .system-buttons {
            position: absolute;
            background: rgba(27, 27, 27, 0.712);
            color: white;
            font-family: initial;
            border-radius: 6px;
            padding: 5px;
            font-size: 13px;
            top: 4px;
            left: 4px;
        }

        .playground {
            flex-grow: 1;
            // border: 1px solid lime;
            position: relative;
            color: white;
            font-size: 20px;
            text-shadow: 0px 0px 5px black;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .deck-info {
                position: absolute;
                background: rgba(27, 27, 27, 0.712);
                color: white;
                font-family: initial;
                border-radius: 6px;
                padding: 5px;
                font-size: 15px;
                top: 4px;
                right: 4px;
            }

            .top-row {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                margin-bottom: 20px;
                margin-left: 170px;
                margin-right: 170px;
                padding-top: 10px;
            }

            .secondary-row {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-bottom: 32px;
                padding: 10px;
            }

            .go-up {
                margin-top: -80px;
            }

            .workflow-row {
                z-index: 90;
                pointer-events: none;

                .goner {
                    animation: fade-out 3.5s forwards;
                }
            }
        }

        .chat-logger {
            // same as .my-status
            width: 360px;
            // border: 1px solid lime;
            position: relative;
            background-color: rgba(59, 30, 30, 0.884);
            box-shadow: inset 0px 0px 10px #9a9a9a;
        }
    }

    .btm {
        position: relative;
        height: 250px;
        display: flex;
        align-items: flex-end;

        .my-cards {
            flex-grow: 1;
            display: flex;
            position: relative;
            height: 180px;
            flex-grow: 1;
            // background-color: #161616a2;
            background-image: url('ui/bak.png');
            background-repeat: repeat;
            box-shadow: inset 0px 0px 5px #ffffff;
            // border: 1px solid red;
            display: flex;

            .mid {
                position: relative;
                width: 240px;
                // height: 172px;
                padding: 4px;
                background-color: rgba(56, 52, 29, 0.767);
                box-shadow: inset 0px 0px 5px #ffffff;
                z-index: 3;  //要高过手牌栏
                
                .my-signs {
                    height: 36px;
                    display: flex;
                    padding-left: 10px;
                    align-items: center;

                    .sign {
                        width: 20px;
                        height: 20px;
                        margin: 6px;
                        border-radius: 20px;
                        background: #777777;
                        font-size: 26px;
                        color: #ffffff;
                        opacity: 0.5;
                        transition: 0.2s;
                        border: 1px solid white;

                        &.enabled {
                            opacity: 1;
                            filter: drop-shadow(3px 3px 1px black);
                        }

                        &.selectable {
                            cursor: pointer;
                            border: 1px solid gold;
                            background: #d29557;
                        }

                        &.selectable:hover {
                            transform: translate(0px, -5px);
                        }

                        &.selected {
                            transform: translate(0px, -5px);
                            color: gold;
                        }
                    }
                }
    
                .my-judge {
                    height: 36px;
                    display: flex;
                }
    
                .my-equip {
                    height: 100px;
                    font-size: 18px;
                    // border: 1px solid red;
                }
            }
    
        }

        .player-buttons {
            position: absolute;
            top: 0px;
            left: 220px;    //ui-my-player-card#width
            right: 360px;   //.buttons#width
            height: 70px;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            justify-content: center;

            .server-hint-msg {
                position: absolute;
                top: -16px;
                height: 30px;
                color: white;
                text-shadow: 0px 0px 4px white;
                font-size: 24px;
                animation: flashing-red 1.6s infinite;
            }
        }

        .buttons {
            position: absolute;
            background-color: rgba(59, 30, 30, 0.884);
            top: 0px;
            right: 0px;
            width: 360px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-around;

        }
    }
}


.ui-button {
    // font-family: HuaWenLiShu;
    font-family: LiShuFanTi;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #653b3b;
    border: 1px solid #a27373;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100px;
    margin-right: 5px;
    line-height: 1em;
    transition: 0.2s;

    &.ui-button-abort {
        position: absolute;
        right: 10px;
        color: #bd7d1c;
        background: white;
        padding: 10px;
    }

    &.ui-button-abort:hover {
        color: red;
        background: rgb(46, 46, 46);
    }

    &.ui-button-abort:active {
        color: black;
    }
}

.ui-button:hover {
    background: #6e4b4b;
}

.ui-button:focus {
    outline: none;
    box-shadow: none;
}

.ui-button:active {
    background: white;
    color: gold;
}

.ui-button:disabled,
.ui-button[disabled] {
    background: rgb(78, 78, 78);
    color: lightgray;
}


@keyframes fade-out {
    0% {
        filter: brightness(100%);
        opacity: 1;
    }
    10% {
        filter: brightness(50%);
        opacity: 1;
    }
    94% {
        filter: brightness(50%);
        opacity: 1;
    }
    100% {
        filter: brightness(50%);
        opacity: 0;
    }
}

@keyframes flashing-red {
    0% {color: white }
    50% {color: red;}
    100% {color: white;}
}