.board::before {
    background-image: url('ui/bg.jpg');
    background-size: cover;
    filter: grayscale(80%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    min-width: 1500px;
    min-height: 800px;

    .top {
        position: relative;
        flex-grow: 1;
        display: flex;

        .playground {
            flex-grow: 1;
            // border: 1px solid lime;
            position: relative;
            color: white;
            font-size: 20px;
            text-shadow: 0px 0px 5px black;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top-row {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                margin-bottom: 20px;
                margin-left: 170px;
                margin-right: 170px;
            }

            .secondary-row {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-bottom: 32px;
                
            }

            .go-up {
                margin-top: -80px;
            }

            .workflow-row {
                z-index: 2;
                pointer-events: none;

                .ui-card-wrapper {
                    position: absolute;
                    transition: 0.4s linear;
                    
                    .as {
                        position: absolute;
                        height: 20px;
                        top: 80px;
                        background: #d6d696;
                        color: black;
                        border: 1px solid black;
                        border-radius: 3px;
                        text-shadow: 0px 0px 2px #794c4c;
                        width: 80%;
                        left: 7%;
                    }
                }
                .workflow-card-enter {
                    opacity: 0;
                    // transform: translate(40px, 0px);
                }
                .workflow-card-enter-active {
                    opacity: 1;
                    // transform: translate(0px, 0px);
                    transition: 0.25s linear;
                }
                .workflow-card-exit {
                    opacity: 1;
                }
                .workflow-card-exit-active {
                    opacity: 0;
                    transform: translate(-30px, 0px);
                    transition: 0.25s linear;
                }
            }
        }

        .chat-logger {
            // same as .my-status
            width: 360px;
            // border: 1px solid lime;
            position: relative;
            background-color: rgba(59, 30, 30, 0.884);
            box-shadow: inset 0px 0px 10px #9a9a9a;
        }
    }

    .btm {
        position: relative;
        height: 250px;
        display: flex;
        align-items: flex-end;

        .mid {
            position: relative;
            width: 240px;
            height: 172px;
            padding: 4px;
            background-color: rgba(56, 52, 29, 0.767);
            box-shadow: inset 0px 0px 10px #9a9a9a;
            z-index: 1;  //要高过手牌栏

            .my-judge {
                height: 40px;
                display: flex;
            }

            .my-equip {
                height: 132px;
                font-size: 18px;
                // border: 1px solid red;
            }
        }


        .my-cards {
            position: relative;
            height: 180px;
            flex-grow: 1;
            background-color: #161616a2;
            box-shadow: inset 0px 0px 10px #9a9a9a;
            // border: 1px solid red;
        }

        .player-buttons {
            position: absolute;
            top: 0px;
            left: 220px;    //ui-my-player-card#width
            right: 360px;   //.buttons#width
            height: 70px;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            justify-content: center;

            .server-hint-msg {
                position: absolute;
                top: -16px;
                height: 30px;
                color: white;
                text-shadow: 0px 0px 4px white;
                font-size: 24px;
            }
        }

        .buttons {
            position: absolute;
            background-color: rgba(59, 30, 30, 0.884);
            top: 0px;
            right: 0px;
            width: 360px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-around;

        }
    }
}


.ui-button {
    // font-family: HuaWenLiShu;
    font-family: LiShuFanTi;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #653b3b;
    border: 1px solid #a27373;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-right: 5px;
}

.ui-button:hover {
    background: #6e4b4b;
}

.ui-button:focus {
    outline: none;
    box-shadow: none;
}

.ui-button:active {
    background: white;
    color: gold;
}

.ui-button:disabled,
.ui-button[disabled] {
    background: rgb(78, 78, 78);
    color: lightgray;
}
