.ui-card-row {
    position: relative;
    padding-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
}

.ui-card-wrapper {
    position: absolute;
    //this can be overriden by styling the individual cards
    transition-duration: 0.3s;
    // transition: left ease-in, top ease-out;
    z-index: 2;
}

.ui-card.selectable {
    cursor: pointer;
    transition: 0.2s;
}

.ui-card.selected {
    transform: translate(0px, -30px) !important;
}

.ui-card.selectable:not(.selected):hover {
    > * {
        transform: translate(0px, -10px);
    }
}

//prevent back from animation
.ui-card.selected {
    .back {
        display: none;
    }
}

.ui-card.selectable:not(.selected):hover {
    .back {
        display: none;
    }
}

.ui-card.darkened {
    filter: brightness(50%);
}

.ui-card.flip {
    animation: flip 0.8s linear forwards;
}

.ui-card {
    min-width: 115px;
    max-width: 115px;
    height: 155px;
    position: relative;
    // padding-right: 10px;
    pointer-events: auto;
    transform-style: preserve-3d;

    > * {
        pointer-events: none;
        transition: 0.2s;
    }

    .itself {
        position: absolute;
        width: 105px;
        height: 145px;
        border: 5px solid #272727;
        border-radius: 7px;
        filter: drop-shadow(2px 4px 4px #272727);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .back {
        position: absolute;
        width: 105px;
        height: 145px;
        border: 5px solid #272727;
        border-radius: 7px;
        filter: drop-shadow(2px 4px 4px #272727);
        transform: rotateY(180deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
                    
    .as {
        position: absolute;
        height: 20px;
        top: 80px;
        background: #d6d696;
        color: black;
        border: 1px solid black;
        border-radius: 3px;
        text-shadow: 0px 0px 2px #794c4c;
        width: 80%;
        left: 7%;
    }

    .description {
        position: absolute;
        height: 70px;
        width: 86%;
        left: 6px;
        bottom: 7px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 11px;
        color: black;
        text-shadow: 0px 0px 4px white;
        filter: drop-shadow(0px 0px 4px white);
    }

    .top-left-container {
        position: absolute;
        top: 5px;
        left: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .suit {
            font-weight: 600;
            font-size: 20px;
            text-shadow: 0px 0px 4px white;
            margin-top: -6px;
            margin-left: 2px;
        }
    
        .number {
            font-family: sans-serif;
            font-weight: 600;
            font-size: 18px;
            text-shadow: 0px 0px 4px white;
            letter-spacing: -2px;
        }

        .heart {
            color: red
        }
        .diamond {
            color: red;
        }
        .spade {
            color: black;
        }
        .club {
            color: black;
        }
    }


}

.judge-cards {
    margin-right: 2px;
}

@keyframes flip {
    0% {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}