
.ui-player-card.ui-my-player-card{
    .faction-war {
        width: 320px;
        // overflow: hidden;
        position: relative;
        display: flex;
        pointer-events: none;

        .general {

            // position: relative;
            pointer-events: all;

            .general-name {
                font-size: 20px;
                writing-mode: unset;
                width: 100px;
                height: 22px;
                color: white;
                white-space: nowrap;
            }
            .general-name-after {
                width: 0;
                height: 0;
                border-top: 11px solid transparent;
                border-left: 9px;
                border-bottom: 11px solid transparent;
                position: absolute;
                left: 100%;
            }
            .title {
                position: absolute;
                left: -3px;
                top: -5px;
                font-size: 30px;
                color: #ffffc9;
                text-shadow: 0px 0px 10px gold;
                cursor: pointer;
            }
        }

        .hidden {

            .card-avatar {
                filter: brightness(50%) grayscale(0.7);
            }

            &::after {
                content: '潜伏';
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                filter: drop-shadow(0px 0px 6px black);
                font-size: 24px;
                pointer-events: none;
            }
        }

        .my-faction-mark {
            width: 24px;
            height: 24px;
            position: absolute;
            top: -4px;
            right: 0px;
            border-radius: 15px;
            font-size: 34px;
            border: double black;
            color: white;
            justify-content: center;
            display: flex;
            align-items: center;
            z-index: 9; //go over the drunk/turn over effects
        }
    }
}

.ui-player-card {

    .dead {
        filter: grayscale(100%)
    }

    .faction-war {
        width: 180px;
        height: 190px;
        position: relative;
        display: flex;
        pointer-events: none;

        .general {
            height: 100%;
            position: relative;
            pointer-events: all;
            flex-grow: 1;
            overflow: hidden;

            .marks {
                background: rgba(31, 31, 31, 0.767);
                color: white;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                position: absolute;
                left: 20px;
                top: 13%;
                letter-spacing: initial;
            }

            .general-name {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 20px;
                font-size: 22px;
                text-indent: 26px;
                display: flex;
                align-items: center;
                height: 100px;
                writing-mode: vertical-rl;
                text-orientation: upright;
                color: #e7e3a5;
                pointer-events: none;
                text-shadow: 0px 0px 4px black;
                white-space: nowrap;
            }
        }
    }

    .faction-mark {
        width: 24px;
        height: 24px;
        position: absolute;
        top: -8px;
        left: -8px;
        border-radius: 15px;
        font-size: 34px;
        border: double black;
        color: white;
        justify-content: center;
        display: flex;
        align-items: center;
        z-index: 1; //go over the drunk/turn over effects

        // .myself {
        //     left: 0px;
        // }
    }

    .wei {
        background: #1717c5 !important;
    }
    .shu {
        background: #bb1b1b !important;
    }
    .wu {
        background: #1ba51b !important;
    }
    .qun {
        background: #c5a81a !important;
    }
    .ye {
        background: #902090 !important;
    }

    .faction-dynamic-mark {
        pointer-events: all;
        width: 24px;
        height: 24px;
        padding: 1px;
        position: absolute;
        top: -5px;
        left: -5px;
        background: lightgray;
        border-radius: 3px;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        transition: 0.1s;
        z-index: 1; //go over the drunk/turn over effects

        .mark {
            background: gray;
            width: 50%;
            height: 50%;
            cursor: pointer;
            box-shadow: inset 0px 0px 2px #000000d4;
        }
    }

    .faction-dynamic-mark:hover {
        
        width: 34px;
        height: 34px;
    }
}




.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    // 50% { background-position: 400% 0; }
    100% { background-position: 400% 0; }
}